body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 2em;
}

section {
  margin: 20px;
}

h2 {
  color: #333;
}

.project {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}
.contact-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #27ae60;
  color: #fff;
  
  text-d
text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}